/* GENERAL STYLES */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

h1 {
    font-size: 24pt;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-size: 18pt;
}

#subtitle {
    padding-top: 0;
    margin-bottom: 24px;
    margin-top: 0;
}

.anoushka-background {
    background-color: #f9c9e2;
}

.amy-background {
    background-color: #c9dcf9;
}

/* IMAGE STYLES */
img {
    width: 50%;
    display: block;
    margin: auto;
}

/* LIST STYLES */
ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    background: #eee;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

/* HEADER & FOOTER STYLES */
header {
    padding: 1rem 0;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* NAVIGATION STYLES */
nav {
    margin: 0.5rem;
}
nav button {
    background: #eee;
    padding: 0.5rem;
    display: inline;
    margin: 0 10px;
    color: black;
    border: none;
    border-radius: 10%;
    font-size: 14pt;
}

nav button:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}

/* SECTION STYLES */
section {
    border-radius: 1%;
    background: #fff;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.following-sections {
    margin-top: 4rem;
}

/* RESUME SECTION STYLES */
.resume-item {
    margin-bottom: 2rem;
    text-align: left;
}

.resume-item h3 {
    margin: 0;
}

.resume-item p {
    margin: 0.5rem 0;
}

/* PROJECT SECTION STYLES */
.project {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}