body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.left-side {
    color : #DB4C77
}
.right-side {
    color : #10559A
}
.left-side, .right-side {
    flex: 1;
    padding: 20px;
}

.left-side {
    background-color: #f9c9e2;
}

.right-side {
    background-color: #c9dcf9;
}
