body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 100%;
}

#left_name, #right_name {
    text-align: center;
    font-size: 70px;
    font-family: "Libre Baskerville", serif;
    flex: 1;
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 35%;

}

.left-side {
    color : #DB4C77;
    background-color: #f9c9e2;

}
.right-side {
    color : #10559A;
    background-color: #c9dcf9;

}
.left-side, .right-side {
    flex: 1;
}

#left_link, #right_link {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

#left_link {
    color : #DB4C77;
}

#right_link {
    color : #10559A;

}